.config/nvim/plugin
vesktop/.config/vesktop/sessionData
vesktop/.config/vesktop/Crashpad
vesktop/.config/vesktop/SingletonCookie
vesktop/.config/vesktop/SingletonLock
vesktop/.config/vesktop/SingletonSocket
vesktop/.config/vesktop/state.json

fish/.config/fish/fish_variables

nvim/.config/nvim/plugin/packer_compiled.lua
.config/qtile/mic_toggle.sh
./tmux/.config/tmux/plugins/
