.config/nvim/plugin
# 1. Allow Git to track the parent directory path
!vesktop/
!vesktop/.config/
!vesktop/.config/vesktop/

# 2. Ignore all files and subfolders inside vesktop/.config/vesktop/ by default
vesktop/.config/vesktop/*

# 3. Explicitly re-include ONLY the settings and themes directories
!vesktop/.config/vesktop/settings/
!vesktop/.config/vesktop/themes/

fish/.config/fish/fish_variables

noctalia/.local/state/noctalia/*
!noctalia/.local/state/noctalia/settings.toml


# Noctalia
noctalia/.local/state/noctalia/*
!noctalia/.local/state/noctalia/settings.toml

nvim/.config/nvim/plugin/packer_compiled.lua
.config/qtile/mic_toggle.sh
./tmux/.config/tmux/plugins/
