layout {
    background-color "transparent"

    focus-ring {
        active-color   "#d8bafa"
        inactive-color "#958e98"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#d8bafa"
        inactive-color "#958e98"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#d8bafa"
        inactive-color "#958e98"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#d8bafa80"
    }
}