layout {

    focus-ring {
        active-color   "#cba6f7"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"
    }

    border {
        active-color   "#cba6f7"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"
    }


    tab-indicator {
        active-color   "#cba6f7"
        inactive-color "#6d10da"
        urgent-color   "#f38ba8"
    }

    insert-hint {
        color "#cba6f780"
    }
}

recent-windows {
    highlight {
        active-color "#cba6f7"
        urgent-color "#f38ba8"
    }
}
