/* Bluetooth menu */

@theme "~/.config/rofi/theme.rasi"

configuration {
  font:                     "JetBrainsMono Nerd Font 8";
  hover-select:             true;
  me-select-entry:          "MousePrimary";
  me-accept-entry:          "!MousePrimary";
}

/* Window */

window {
  location:                 north;
  anchor:                   south;
  y-offset:                 3px;
  width:                    240px;
  border:                   3px;
  border-radius:            10px;
  border-color:             @main-br;
  background-color:         @main-bg;
  children:                 [ mainbox ];
}

mainbox {
  spacing:                  0;
  background-color:         @main-br;
  text-color:               @main-fg;
  children:                 [ textbox-custom, listview, inputbar ];
}

textbox-custom {
  font:                     "JetBrainsMono Nerd Font Bold 8";
  horizontal-align:         0.5;
  padding:                  1px 0;
  expand:                   false;
  background-color:         @select-bg;
  text-color:               @select-fg;
  expand:                   false;
  content:                  "󰂱  Bluetooth";
}

/* Input */

inputbar {
  margin:                   -32px 6px 6px;
  border-radius:            6px;
  spacing:                  inherit;
  background-color:         @input-bg;
  text-color:               inherit;
  children:                 [ prompt, entry ];
}
prompt {
  padding:                  6px 6px 6px 12px;
  background-color:         inherit;
  text-color:               inherit;
}
entry {
  placeholder:              "Search";
  padding:                  6px 0;
  cursor:                   text;
  background-color:         inherit;
  text-color:               inherit;
}

/* List */

listview {
  border:                   2px 0 0 0;
  border-radius:            8px;
  border-color:             @main-br;
  lines:                    6;
  fixed-height:             false;
  dynamic:                  false;
  cycle:                    false;
  margin:                   0 0 -2px;
  padding:                  6px 6px 40px;
  background-color:         @main-bg;
}

element {
  padding:                  6px;
  cursor:                   pointer;
  background-color:         inherit;
  text-color:               @main-fg;
}
element selected active,
element selected normal {
  border-radius:            6px;
  background-color:         @select-bg;
  text-color:               @select-fg;
}
element-text {
  padding:                  0 6px;
  cursor:                   inherit;
  background-color:         inherit;
  text-color:               inherit;
}
