/* Power menu */

@theme "~/.config/rofi/theme.rasi"

configuration {
  font:                     "JetBrainsMono Nerd Font 8";
  hover-select:             true;
  me-select-entry:          "MousePrimary";
  me-accept-entry:          "!MousePrimary";
}

/* Window */

window {
  location:                 northeast;
  anchor:                   north;
  x-offset:                 -3px;
  y-offset:                 3px;
  width:                    150px;
  border:                   3px;
  border-radius:            10px;
  border-color:             @main-br;
  background-color:         @main-bg;
  children:                 [ mainbox ];
}

mainbox {
  spacing:                  0;
  background-color:         @main-br;
  text-color:               @main-fg;
  children:                 [ textbox-custom, listview ];
}

textbox-custom {
  font:                     "JetBrainsMono Nerd Font Bold 2";
  horizontal-align:         0.5;
  padding:                  0;
  expand:                   false;
  background-color:         @select-bg;
  text-color:               @select-fg;
  expand:                   false;
  // content:                  "  Power";
}

/* List */

listview {
  border:                   2px 0 0 0;
  border-radius:            8px;
  border-color:             @main-br;
  lines:                    6;
  padding:                  6px;
  background-color:         @main-bg;
}

element {
  padding:                  6px;
  cursor:                   pointer;
  background-color:         inherit;
  text-color:               @main-fg;
}
element selected.normal {
  border-radius:            6px;
  background-color:         @select-bg;
  text-color:               @select-fg;
}
element-text {
  padding:                  0 6px;
  cursor:                   inherit;
  background-color:         inherit;
  text-color:               inherit;
}
