/*
██╗███╗   ██╗██████╗ ██╗   ██╗████████╗
██║████╗  ██║██╔══██╗██║   ██║╚══██╔══╝
██║██╔██╗ ██║██████╔╝██║   ██║   ██║
██║██║╚██╗██║██╔═══╝ ██║   ██║   ██║
██║██║ ╚████║██║     ╚██████╔╝   ██║
╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝    ╚═╝
*/
input {
    keyboard {
        xkb {// URGENT : Put xkb options and layout here

        }
    }
    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.3
    }
    mouse {
        accel-speed 0.2
    }
    workspace-auto-back-and-forth
    // focus-follows-mouse max-scroll-amount="50%"
    // focus-follows-mouse
    //NOTE Stop niri from hijacking the power button
    disable-power-key-handling
}
gestures {
    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }
    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }
    hot-corners {// off

    }
}

