
/*

██╗███╗   ██╗██████╗ ██╗   ██╗████████╗
██║████╗  ██║██╔══██╗██║   ██║╚══██╔══╝
██║██╔██╗ ██║██████╔╝██║   ██║   ██║
██║██║╚██╗██║██╔═══╝ ██║   ██║   ██║
██║██║ ╚████║██║     ╚██████╔╝   ██║
╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝    ╚═╝
*/
input {
    keyboard {
        xkb {
 // URGENT : Put xkb options and layout here

        }
    }
    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.3
    }
    mouse {
        accel-speed 0.2
    }
    workspace-auto-back-and-forth
    focus-follows-mouse max-scroll-amount="0%"
}
gestures {
    hot-corners {
 // off

    }
}
recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }

}
