/*
██╗      █████╗ ██╗   ██╗ ██████╗ ██╗   ██╗████████╗
██║     ██╔══██╗╚██╗ ██╔╝██╔═══██╗██║   ██║╚══██╔══╝
██║     ███████║ ╚████╔╝ ██║   ██║██║   ██║   ██║
██║     ██╔══██║  ╚██╔╝  ██║   ██║██║   ██║   ██║
███████╗██║  ██║   ██║   ╚██████╔╝╚██████╔╝   ██║
╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝  ╚═════╝    ╚═╝
*/
layout {
    gaps 4
    center-focused-column "on-overflow"
    always-center-single-column
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.2
        proportion 0.4
        proportion 0.5
        proportion 0.6
        proportion 0.8
        proportion 1.0
    }
    default-column-display "normal"
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        off
        width 1
        active-color "#cba6f7"
        inactive-color "#fff"
    }
    shadow {
        on
        softness 20
        spread 3
        offset x=-1 y=-5
        color "#0009"
    }
    border {
        on
        // on
        width 1
        active-color "#cba6f7"
        inactive-color "#585b70"
        urgent-color "#9b0000"
        // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view" in="srgb-linear"
        // urgent-gradient from="#800" to="#a33" angle=45
    }
    struts {
      // left 10
      // right 10
      // top 10
      // bottom 10
    }
}
