/*
██╗      █████╗ ██╗   ██╗ ██████╗ ██╗   ██╗████████╗
██║     ██╔══██╗╚██╗ ██╔╝██╔═══██╗██║   ██║╚══██╔══╝
██║     ███████║ ╚████╔╝ ██║   ██║██║   ██║   ██║
██║     ██╔══██║  ╚██╔╝  ██║   ██║██║   ██║   ██║
███████╗██║  ██║   ██║   ╚██████╔╝╚██████╔╝   ██║
╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝  ╚═════╝    ╚═╝
*/
layout {
    gaps 5
    center-focused-column "never"
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.2
        proportion 0.4
        proportion 0.5
        proportion 0.6
        proportion 0.8
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        off
        width 1
        active-color "#cba6f7"
        inactive-color "#fff"
    }
    border {
        on
        width 1
        active-color "#cba6f7"
        inactive-color "#7f849c"

    }
    shadow {
        on
        softness 20
        spread 3
        offset x=-1 y=-5
        color "#0009"
    }
    struts {
      // left 5
      // right 5
      // top 5
      // bottom 5
    }
}
