recent-windows {
    // off
    debounce-ms 750
    open-delay-ms 100
    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }
    previews {
        max-height 480
        max-scale 0.5
    }
    binds {
        Alt+Tab {
            next-window
        }
        Alt+Shift+Tab {
            previous-window
        }
        Alt+grave {
            next-window filter="app-id"
        }
        Alt+Shift+grave {
            previous-window filter="app-id"
        }
        Mod+Tab {
            next-window
        }
        Mod+Shift+Tab {
            previous-window
        }
        Mod+grave {
            next-window filter="app-id"
        }
        Mod+Shift+grave {
            previous-window filter="app-id"
        }
    }
}
