workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"
workspace "0"
/*
[[ Layer Rule ]]
*/
layer-rule {
    match namespace="^launcher$"
    opacity 1.0
}
layer-rule {
    //  eww
    match namespace="gtk-layer-shell"
    match at-startup=true
    shadow {
        on
        softness 10
        spread 1
        offset x=0 y=1
        draw-behind-window true
        color "#00000030"
    }
}
layer-rule {
    //  eww
    match namespace="rofi"
    match at-startup=true
    shadow {
        on
        softness 10
        spread 1
        offset x=0 y=1
        draw-behind-window true
        color "#00000030"
    }
}
/*
██╗    ██╗██╗███╗   ██╗██████╗  ██████╗ ██╗    ██╗    ██████╗ ██╗   ██╗██╗     ███████╗███████╗
██║    ██║██║████╗  ██║██╔══██╗██╔═══██╗██║    ██║    ██╔══██╗██║   ██║██║     ██╔════╝██╔════╝
██║ █╗ ██║██║██╔██╗ ██║██║  ██║██║   ██║██║ █╗ ██║    ██████╔╝██║   ██║██║     █████╗  ███████╗
██║███╗██║██║██║╚██╗██║██║  ██║██║   ██║██║███╗██║    ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║
╚███╔███╔╝██║██║ ╚████║██████╔╝╚██████╔╝╚███╔███╔╝    ██║  ██║╚██████╔╝███████╗███████╗███████║
╚══╝╚══╝ ╚═╝╚═╝  ╚═══╝╚═════╝  ╚═════╝  ╚══╝╚══╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝
*/
window-rule {
    match title="^(file_progress)$"
    match title="^(confirm)$"
    match title="^(dialog)$"
    match title="^(download)$"
    match title="^(notification )$"
    match title="^(error)$"
    match title="^(splash)$"
    match title="^(nwg-look)$"
    match title="^(confirmreset)$"
    match title="^(Delete profile)$"
    match title="^File Operation Progress$"
    match title="^Confirm to replace files$"
    match title="^KDE Connect URL handler$"
    match title="^(Open File)(.*)$"
    match title="^(Select a File)(.*)$"
    match title="^(Choose wallpaper)(.*)$"
    match title="^(Open Folder)(.*)$"
    match title="^(Save As)(.*)$"
    match title="^(Library)(.*)$"
    match title="^(File Upload)(.*)$"
    match title="^(hyprland-share-picker)$"
    match title="^(.*)-Google$"
    match title="^(.*)System Update$"
    match title="(.*) - Google (.*) - (.*)"
    match app-id="^xdm-app$"
    match app-id="^org.qbittorrent.qBittorrent$"
    match app-id="^org.pulseaudio.pavucontrol$"
    match app-id="^net.davidotek.pupgui2$"
    open-floating true
}
window-rule {
    match app-id="zen$" title="^Picture-in-Picture$"
    open-floating true
}
// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id="^org\\.wezfurlong\\.wezterm$"
    default-column-width {

    }
}
// Needed for steam, read wiki for more
window-rule {
    match app-id="steam" title="^notificationtoasts_\\d+_desktop$"
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
window-rule {
    match app-id="org.telegram.desktop$"
    match app-id="zen$"
    match app-id="vesktop$"
    match app-id="thunar$"
    match app-id="dolphin$"
    match app-id="obsidian$"
    match app-id="com.github.th_ch.youtube_music"
    match app-id="Postman"
    match app-id="Spotify"
    match app-id="Element"
    open-maximized true
}
window-rule {
    match app-id="mpv$"
    open-fullscreen true
}
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}
/*
[[ App Rules ]]
*/
window-rule {
    draw-border-with-background false
    match app-id="kitty$"
    match app-id="com.mitchellh.ghostty$"
 // opacity 0.70
}
window-rule {
    match app-id="zen$"
    open-on-workspace "1"
}
window-rule {
    match app-id="Postman$"
    open-on-workspace "2"
}
window-rule {
    match app-id="^thunar$"
    open-on-workspace "6"
}
window-rule {
    match app-id="^obsidian$"
    open-on-workspace "7"
}
window-rule {
    match app-id="com.github.th_ch.youtube_music$"
    match app-id="Spotify"
    open-on-workspace "8"
}
window-rule {
    match app-id="^vesktop$"
    open-on-workspace "9"
}
window-rule {
    match app-id="^org.telegram.desktop$"
    open-on-workspace "0"
}
