@import url("/home/greed/.config/waybar/custom-colors.css");
* {
  /* border: none; */
  border-radius: 0px;
  font-family: "CaskaydiaCove NF";
  font-weight: 500;
  font-size: 15px;
  min-height: 9px;
}

window#waybar {
  background: rgba(18, 18, 30, 0);
  color: @white;
  border-radius: 8px;
  opacity: 1;
}

tooltip {
  background: @module-bg;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#window,
#mpris,
#custom-spotify,
#custom-updater,
#memory,
#network,
#workspaces,
#battery,
#backlight,
#pulseaudio,
#clock,
#custom-notification,
#tray {
  background-color: @module-bg;
  padding: 0px 10px 0px 10px;
  margin: 2px;
  border-radius: 8px;
}

#mpris {
  color: @white;
}

/* #mpris.paused { */
/*   border-bottom: 2px solid @white; */
/* } */

#network {
  color: @blue;
}

#memory {
  color: @sun;
}

#workspaces button {
  color: @white;
  background-color: @module-bg;
}

#workspaces button.active {
  color: @module-bg;
  background-color: @white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 6px;
}

#workspaces button.urgent {
  color: @module-bg;
  background: @red;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
}

#workspaces button.active:hover {
  color: @module-bg;
  background-color: @white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
}

#workspaces button:hover {
  color: @module-bg;
  background: @green;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

#custom-updater {
  color: @red;
}

#battery {
  color: @vibrant-green;
}

#backlight {
  color: @sun;
}

#pulseaudio {
  color: @purple;
}

#clock {
  color: @cyan;
}

#custom-notification {
  color: @white;
}
