/* Full Waybar CSS Theme using custom palette */
* {
  font-family:
    Lexend,
    JetBrainsMono Nerd Font,
    Iosevka Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.2);
  color: #e8e8d3;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #9098a0;
}

#window,
#temperature,
#cpu,
#custom-update,
#memory,
#custom-swaync,
#custom-media,
#tray,
#mode,
#custom-lock,
#workspaces,
#custom-power-menu,
#custom-launcher,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  color: #e8e8d3;
  background-color: #1c1c1c;
  border-radius: 8px;
  padding: 0px 10px;
  font-size: 14.5px;
  margin: 8.5px 4px;
}

#cpu {
  color: #c95c5c;
}

#memory {
  color: #afd787;
}

#workspaces button {
  color: #a0a8b0;
  box-shadow: inset 0 -3px transparent;
  padding: 0px;
  margin: 0 0.1em;
}

#workspaces button.active {
  color: #ffaf00;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-update {
  padding-left: 1px;
}

#custom-launcher {
  margin: 8.5px 0 8.5px 12px;
  padding: 0 18px 0 14px;
  font-size: 22px;
  color: #a0a8b0;
}

#temperature {
  border-radius: 8px 0px 0px 8px;
  margin-right: 0px;
  padding: 3px 5px 3px 8px;
  color: #c7c7c7;
}

#memory {
  border-radius: 0px 8px 8px 0px;
  margin-left: 0px;
  padding: 3px 8px 3px 7.5px;
}

#backlight,
#network {
  background-color: #1c1c1c;
  padding: 3px 7.5px;
  font-size: 20px;
  margin: 7px 0;
}

#network {
  color: #556779;
  padding-left: 12px;
  padding-right: 14px;
}

#network.disconnected {
  color: #c95c5c;
}

#clock-group {
  background-color: #1c1c1c;
  color: #9098a0;
  border-radius: 8px;
  margin: 7px 0;
  padding: 0 8px;
}

#util-toggle-group {
  background-color: #1c1c1c;
  color: #c7c7c7;
  border-radius: 8px;
  margin: 7px 0;
  padding: 0 8px;
}

#battery-group {
  background-color: #1c1c1c;
  color: #8fbcbb;
  border-radius: 0px 8px 8px 0px;
  margin: 7px 0;
  padding: 0 2px;
}

#audio {
  background-color: #1c1c1c;
  border-radius: 8px 0px 0px 8px;
  margin: 7px 0;
}

#pulseaudio {
  color: #a0a8b0;
  padding-left: 9px;
  border-radius: 8px 0px 0px 8px;
}

#pulseaudio.muted,
#pulseaudio.microphone.source-muted {
  color: #c95c5c;
}

#backlight {
  color: #c7c7c7;
  padding: 0 5px;
  font-size: 17.5px;
}

#custom-lock {
  color: #c7c7c7;
  padding: 0 15px;
  margin: 7px 0 7px 7px;
}

#custom-power-menu {
  color: #c95c5c;
  margin: 7px 12px 7px 0;
  padding: 0 6.8px;
  border-radius: 8px;
}

#custom-spotify {
  color: #a0a8b0;
}

#custom-weather {
  font-size: 15px;
  color: #9098a0;
}

#custom-weather.severe {
  color: #c95c5c;
}

#custom-weather.sunnyDay {
  color: #afd787;
}

#custom-weather.clearNight {
  color: #c7c7c7;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #ccc5c4;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #b0b8c0;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #c7c7c7;
}

#custom-weather.default {
  color: #c7c7c7;
}

#tray {
  margin: 7px 0;
  font-size: 26px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #c95c5c;
}

tooltip {
  border-radius: 15px;
  padding: 15px;
  background-color: #101010;
}

tooltip label {
  font-family: Iosevka Nerd Font;
  padding: 5px;
}

label:focus {
  background-color: #101010;
}
