layout {
    background-color "transparent"

    focus-ring {
        active-color   "#cba6f7"
        inactive-color "#6c7086"
        urgent-color   "#f38ba8"
    }

    border {
        active-color   "#cba6f7"
        inactive-color "#6c7086"
        urgent-color   "#f38ba8"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cba6f7"
        inactive-color "#6c7086"
        urgent-color   "#f38ba8"
    }

    insert-hint {
        color "#cba6f780"
    }
}

recent-windows {
    highlight {
        active-color   "#55307f"
        urgent-color   "#f38ba8"
    }
}
