layout {
    gaps 4

    border {
        width 1
    }

    focus-ring {
        width 1
    }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}
