binds {
    Mod+Space hotkey-overlay-title="Application Launcher" { 
        spawn "dms" "ipc" "call" "spotlight" "toggle"; 
    }

    Mod+V hotkey-overlay-title="Clipboard Manager" { 
        spawn "dms" "ipc" "call" "clipboard" "toggle"; 
    }

    Mod+M hotkey-overlay-title="Task Manager" { 
        spawn "dms" "ipc" "call" "processlist" "toggle"; 
    }

    Mod+Comma hotkey-overlay-title="Settings" { 
        spawn "dms" "ipc" "call" "settings" "toggle"; 
    }

    Mod+N hotkey-overlay-title="Notification Center" {
        spawn "dms" "ipc" "call" "notifications" "toggle"; 
    }

    Mod+Shift+N hotkey-overlay-title="Notepad" {
      spawn "dms" "ipc" "call" "notepad" "toggle";  
    }
    
    Mod+Alt+L hotkey-overlay-title="Lock Screen" { 
        spawn "dms" "ipc" "call" "lock" "lock"; 
    }

    Ctrl+Alt+Delete hotkey-overlay-title="Task Manager" { 
        spawn "dms" "ipc" "call" "processlist" "toggle"; 
    }    

    // Audio
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "increment" "3";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "3";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "micmute";
    }
    
    // BL
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
    }  
}