layout {
    background-color "transparent"

    focus-ring {
        active-color   "#bfc6e1"
        inactive-color "#909097"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bfc6e1"
        inactive-color "#909097"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bfc6e1"
        inactive-color "#909097"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bfc6e180"
    }
}